<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= message %></h1>
    <%# go get message variable %>
    <% if(isCool) {%> <h2>You are awesome.</h2> <%}%>
  </body>
</html>
