doctype html
html
  head
    title Home Page
    link(rel="stylesheet", href="https://maxcdn.bootstrap.com/bootstrap/3.3.6/bootstrap.min.css")
  body
    p This is a sample jade file
    ul
      li whatever
      li cat
      li dog 
      li bird
